<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debt in bcCtrl.billingCycle.debts">
        <td>
          <input
            ng-model="debt.name"
            class="form-control"
            placeholder="Informe o Nome"
            ng-readonly="bcCtrl.tabDelete"
            type="text"
          />
        </td>
        <td>
          <input
            ng-model="debt.value"
            class="form-control"
            placeholder="Informe o Valor"
            ng-readonly="bcCtrl.tabDelete"
            typer="number"
            ng-change="bcCtrl.calculateValues()"
          />
        </td>

        <td>
          <input
            ng-model="debt.status"
            class="form-control"
            placeholder="Informe o status"
            ng-readonly="bcCtrl.tabDelete"
            typer="text"
          />
        </td>
        <td class="table-actions">
          <button
            class="btn btn-success"
            title="Incluir"
            ng-disabled="bcCtrl.tabDelete"
            ng-click="bcCtrl.addDebt($index)"
          >
            <i class="fa fa-plus"></i>
          </button>

          <button
            class="btn btn-warning"
            title="Copiar"
            ng-disabled="bcCtrl.tabDelete"
            ng-click="bcCtrl.cloneDebt($index,debt)"
          >
            <i class="fa fa-clone"></i>
          </button>

          <button
            class="btn btn-danger"
            title="Excluir"
            ng-disabled="bcCtrl.tabDelete"
            ng-click="bcCtrl.deleteDebt($index)"
          >
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
