<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="node_modules/angular/angular.min.js"
    ></script>

    <script type="text/javascript">
      app = angular.module("app", []);
      app.controller("MeuController", [
        function () {
          const _self = this;
          _self.value = 10;
          _self.inc = () => {
            _self.value++;
          };
        },
      ]);
    </script>

    <title>Fundamentos de Angular</title>
  </head>
  <body>
    <div ng-controller="MeuController as ctrl">
      <h1>{{ ctrl.value}}</h1>
      <input ng-model="ctrl.value" />
      <button ng-click="ctrl.inc()">Adiciona!</button>
    </div>
  </body>
</html>
